<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vendt, web dev 23</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/eestifilm">Eesti filmide avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Filmide arv: <%= movieCount %></h2>
	<hr>
	<form method="GET" action="/eestifilm/singlemovie">
		<label for="singleMovieInput"> Filmi nr: </label>
		<input type="number" min="1" max="<%= movieCount.at(-1).id %>" id="singleMovieInput" name="singleMovieInput" value="1">
		<br>
		<input type="submit" name="singleSubmit" value="Ok">
	</form>
	<hr>
	<h3>Pealkiri</h3>
	<p><%= movieCount[0].title %></p>
	<h3>Loodud</h3>
	<p><%= movieCount[0].production_year %> aastal</p>
	<h3>Kestusega</h3>
	<p><%= movieCount[0].duration %> minutit</p>
</body>
</html>